@font-face {
    font-family: Dune Rise;
    src: url('../fonts/Dune_Rise/Dune_Rise.otf');
}
@font-face {
    font-family: Next Art;
    src: url('../fonts/Next_Art/NEXT\ ART_Regular.otf');
}
@font-face {
    font-family: Kirke;
    src: url('../fonts/Kirke/Kirke/Kirke-Regular.ttf');
}
@font-face {
    font-family: Oswald;
    src: url('../fonts/Oswald/Oswald.ttf');
}
@font-face {
    font-family: Sarpanch;
    src: url('../fonts/Sarpanch/Sarpanch-Regular.ttf');
}
@font-face {
    font-family: AudionWide;
    src: url('../fonts/AudioWide/Audiowide-Regular.ttf');
}
@font-face {
    font-family: Orbitron;
    src: url('../fonts/Orbitron/Orbitron.ttf');
}
@font-face {
    font-family: Terminator Gen;
    src: url('../fonts/Terminator_Gen/terminatorgen.otf');
}
@font-face {
    font-family: AVA;
    src: url('../fonts/AVA/AVA.ttf');
}
@font-face {
    font-family: Open Sans;
    src: url('../fonts/Open_Sans/OpenSans.ttf');
}
@font-face {
    font-family: Marske;
    src: url('../fonts/Marske/Marske.ttf');
}