:root{
    --size: calc(1vw + 1vw);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section-four{
    height: 100vh;
    background-color: #dab688;
}
.lines-image-block{
    position: absolute;
    top: 300vh;
    height: 100vh;
}
.lines-image{
    height: 100vh;
}
.women-image-block{
    width: 100vw;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 300vh;
    height: 100vh;
    align-items: flex-end;
}
.side-bar{
    position: absolute;
    top: 300vh;
    width: 150px;
    justify-content: center;
    display: flex;
    padding-top: 30px;
    flex-direction: column;
    gap: 300px;
    padding-left: 50px;
}
.side-bar-text-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40px;
}
.side-bar-text-block span{
    width: 2px;
    height: 300px;
    background-color: black;
    display: block;
}
.side-bar-text-block p{
    font-size: 30px;
    font-family: Dune Rise;
    transform: rotate(90deg);
}
.side-bar-text-block div{
    width: 45px;
    display: flex;
    justify-content: center;
}
.sec-four-block-text{
    border-left:30px #F2B66A solid;
    height: 200px;
    position: relative;
    bottom: 300px;
    margin-left: 170px;
    width: 395px;
    padding-left: 20px;
    padding-top: 20px;
}
.sec-four-block-text h1{
    font-size: 35px;
    font-family: Kirke;
    margin-bottom: 30px;
}
.sec-four-block-text p{
    font-size: 15px;
    font-family: Oswald;
    font-weight: 300;
    line-height: 16px;
}
.site-domen-block{
    border-left: 20px #eeab53 solid;
    height: 37px;
    position: relative;
    bottom: 250px;
    margin-left: 300px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.site-domen-block p{
    font-size: 20px;
    font-family: Dune Rise;
}
.kimono-text-block{
    position: relative;
    bottom: 880px;
    margin-left: 65vw;
}
.kimono-text-block p{
    font-size: 20px;
    font-family: Next Art;
    font-weight: 300;
    width: 250px;
}
.kimono-elem{
    border-left: 20px #FF8F00 solid;
    height: 40px;
    display: flex;
    align-items: center;
    position: relative;
    right: 100px;
    width: 350px;
}
.kimono-elem span{
    width: 500px;
    height: 2px;
    background-color: #FF8F00;
    display: block;
}
@media screen and (max-width: 1600px){
    .women-image{
        width: calc(var(--size)*18);
        height: calc(var(--size)*28.1);
    }
    .women-image-block{
        width: 100vw;
        display: flex;
        justify-content: center;
        position: absolute;
        top: 300vh;
        height: 100vh;
        align-items: flex-end;
    }
    .sec-four-block-text{
        border-left:30px #F2B66A solid;
        height: 200px;
        position: relative;
        bottom: 300px;
        margin-left: calc(var(--size)*5);
        width: calc(var(--size)*12);
        padding-left: 20px;
        padding-top: 20px;
    }
    .sec-four-block-text h1{
        font-size: calc(var(--size));
        font-family: Kirke;
        margin-bottom: 30px;
    }
    .sec-four-block-text p{
        font-size: calc(var(--size)*0.5);
        font-family: Oswald;
        font-weight: 300;
        line-height: 16px;
    }
    .kimono-text-block{
        position: relative;
        bottom: calc(var(--size)*26);
        margin-left: 65vw;
    }
    .site-domen-block{
        border-left: 20px #eeab53 solid;
        height: 37px;
        position: relative;
        bottom: 250px;
        margin-left: calc(var(--size)*8);
        display: flex;
        align-items: center;
        padding-left: 10px;
    }
    .side-bar{
        position: absolute;
        top: 300vh;
        width: 150px;
        justify-content: center;
        display: flex;
        padding-top: 30px;
        flex-direction: column;
        gap: calc(var(--size)*5);
        padding-left: 50px;
    }
}
@media screen and (max-width: 1400px){
    .kimono-text-block{
        position: relative;
        bottom: calc(var(--size)*30);
        margin-left: 67vw;
    }
    .side-bar-text-block span{
        width: 2px;
        height: 200px;
        background-color: black;
        display: block;
    }
    .sec-four-block-text{
        border-left:20px #F2B66A solid;
        height: 170px;
        position: relative;
        bottom: 300px;
        margin-left: calc(var(--size)*5);
        width: calc(var(--size)*12);
        padding-left: 20px;
        padding-top: 20px;
    }
    .side-bar-text-block p{
        font-size: calc(var(--size));
        font-family: Dune Rise;
        transform: rotate(90deg);
    }
    .sec-four-block-text h1{
        font-size: calc(var(--size));
        font-family: Kirke;
        margin-bottom: 30px;
    }
    .sec-four-block-text p{
        font-size: calc(var(--size)*0.4);
        font-family: Oswald;
        font-weight: 300;
        line-height: 15px;
    }
    .kimono-text-block{
        position: relative;
        bottom: calc(var(--size)*28);
        margin-left: 67vw;
    }
}
@media screen and (max-width: 1100px){
    .kimono-text-block{
        position: relative;
        bottom: calc(var(--size)*30);
        margin-left: 67vw;
    }
}